fastapi
starlette
python-multipart
uvicorn[standard]

motor
pymongo
chromadb
pydantic
pydantic[email]

pymupdf
pdf2image
pdfplumber
pytesseract
camelot-py[base]

pyvi
openai
hdbscan
sentence_transformers

pyjwt
pwdlib[argon2]
