fastapi
starlette
python-multipart
uvicorn[standard]

motor
pymongo
chromadb
pydantic

pymupdf
pdf2image
pytesseract
camelot-py[base]

pyvi
torch
openai
accelerate
safetensors
transformers
bitsandbytes
sentencepiece
sentence_transformers