fastapi
starlette
python-multipart
uvicorn[standard]

motor
pymongo
chromadb
pydantic
pydantic[email]

pymupdf
tiktoken
aiofiles
pdf2image
langdetect
pdfplumber
pytesseract
camelot-py[base]
langchain-text-splitters

pyvi
openai
hdbscan
google-generativeai
sentence_transformers

pyjwt
itsdangerous
pwdlib[argon2]
httpx